
python-multipart
pydantic
pydantic-settings

fastapi
uvicorn[standard]
python-dotenv
youtube-transcript-api
pytube
yt-dlp
tenacity

# LangChain & friends
langchain
langchain-community
langchain-google-genai
faiss-cpu
tiktoken
